# Editors
.idea/
.vscode

# Instance files
instance/

# mkdocs
docs/site

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# pytest
.pytest_cache/
