info:
  title: Mink backend
  description: |-
    ## Introduction

    The Mink backend is a REST API that powers the [Mink](https://spraakbanken.gu.se/mink) frontend, Språkbanken's data
    platform. It enables users to upload corpus data to a storage server and process that data using Sparv. This
    documentation provides a comprehensive reference for all available API routes.

    ## Workflow

    A workflow for processing data with Sparv via Mink could look like this:

    1. [Create a new corpus](#create-corpus-post)
    2. [Upload some corpus source files](#upload-sources-put)
    3. [Upload a corpus config file](#upload-config-put)
    4. [Run Sparv](#run-sparv-put)
    5. [Check the status](#resource-info-get)
    6. [Download export files](#download-exports-get)
    7. [Install the corpus in Korp](#install-korp-put) / [Strix](#install-strix-put)

    ## Authentication

    Note that most HTTP requests need to be authenticated with (A) a JSON Web Token (JWT, read more at
    <https://jwt.io/>) or (B) an SB Auth user API key:

    ### (A) JWT

    1. In the browser, log in at <https://spraakbanken.gu.se/mink>.
    2. Open <https://sp.spraakbanken.gu.se/auth/jwt> to download the token in plain text.
    3. Use the token in the request header as: `Authorization: Bearer <token>`.
    4. The token is valid for a few hours. When it expires, repeat these steps.

    ### (B) API key

    1. Ask Språkbanken for an API key.
    2. Use the API key token in the request header as: `X-Api-Key: <token>`.
    3. The token is valid for an extended time, currently 90 days. When it expires, repeat these steps.

    ## Responses

    - Most responses will be in json format.
    - Json responses contain a `status` field which will have the value `success` if the response status code is
      anything between 200 and 299 and `error` otherwise. Thus this `status` merely reports whether the call was
      processed correctly.
    - All json responses also contain a `return_code` field with a unique code that can be used for mapping to
      human-friendly error messages.
    - All json responses contain a `message` field with information about what was done during the call or where things
      went wrong.
    - Each call may have an arbitrary amount of additional fields containing more information or data.

  x-logo:
    url: https://raw.githubusercontent.com/spraakbanken/mink-backend/main/mink/static/mink.svg
  contact:
    name: Språkbanken
    url: https://spraakbanken.gu.se/
    email: sb-info@svenska.gu.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://ws.spraakbanken.gu.se/ws/mink/v2
    description: Production server
  - url: https://ws.spraakbanken.gu.se/ws/mink/dev
    description: Development server

tags:
  - name: Manage Corpora
    description: Routes for creating, listing, and removing corpora.
  - name: Manage Sources
    description: Routes for uploading, listing, downloading, and removing corpus source files.
  - name: Manage Config
    description: Routes for uploading and downloading corpus config files.
  - name: Process Corpus
    description: Routes for managing annotation and installation jobs with Sparv and checking the job status.
  - name: Manage Exports
    description: Routes for listing, downloading, and removing export files.
  - name: Manage Metadata
    description: Routes for creating, uploading, and downloading metadata resources.
  - name: Admin Mode
    description: Routes for activating and deactivating admin mode, and checking the admin mode status.
  - name: Documentation
    description: Routes used for documentation purposes.
